In [1]:
!unzip Test.zip

Archive:  Test.zip
warning:  stripped absolute path spec from /
mapname:  conversion of  failed
  inflating: Sample_Submission.csv
  inflating: Test.csv

In [2]:
!unzip Train.zip

Archive:  Train.zip
warning:  stripped absolute path spec from /
mapname:  conversion of  failed
  inflating: Train.csv

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
TrainData = pd.read_csv("Train.csv")

In [0]:
TestData = pd.read_csv("Test.csv")

In [6]:
TestData.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [7]:
TrainData.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [0]:
Y_train = TrainData['target']
X_train = TrainData.drop(['target'],axis=1)

In [9]:
print(X_train.shape,Y_train.shape)

(1600, 5) (1600,)

In [0]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression(normalize=False)

lr.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
print(lr.coef_)
print(lr.intercept_)

[29.68187118 92.66247759  8.28062089 44.76773522  2.51916121]
4.990966735574954

In [13]:
lr.score(X_train,Y_train)

0.9660939669975616

In [0]:
Y_test = lr.predict(TestData)

In [15]:
Y_test.shape

(400,)